header{
  font-size: 64px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: purple;
  background-color:#20B2AA;

}



#link1 {
  color: purple;
 font-size: 20px;
 text-align: center;
 font-family: 'Playfair Display', serif;
 background-color: #FDF5E6;
 width: 300px;
  float: left;
  box-sizing: border-box;
  font-size: x-large;
  width:250px;
  height: 250px;
}

#link2 {
 color: purple;
 font-size: 20px;
 text-align: center;
 font-family: 'Playfair Display', serif;
 background-color: #FDF5E6;
 width: 300px;
  float: right;
  box-sizing: border-box;
  font-size: x-large;
  width:250px;
  height: 250px;


}

h2{
  color: purple;
  font-size:25px;
  font-family: 'Lobster', cursive;
  margin-left: 50px;


}

body{
  background-color: #FDF5E6;

}

#introwords{
  width: 85%;
padding: 12px;
margin-left: 95px;
box-sizing: border-box;
float: center;
}

#words{
  border-style: solid;
  border-color: #20B2AA;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  margin-left: 250px;
  margin-right:250px;


}

#linkwords{
  color: purple;
  font-size: 15px;
  text-align: center;
  font-family: 'Playfair Display', serif;

}
